@model FileModel

<body lang="en">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <label id="file">File name: @Model.fileName</label><br>
    <input type="submit" value="@Model.fileName" onclick="ConvertFile(this)">

    <div id="progress">

    </div>

    <script>
        var lastProgress = 0;

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/progresshub")
            .build();

        hubConnection.on("Progress", function (progress, file) {
            var obj = "";

            obj = '<input type="submit" value="stop" onclick="Stop()"/>'
            $("#progress").append(obj);

            if (lastProgress < progress) {
                lastProgress = progress;
                obj = '<label>' + progress + '</label><br>';
                $("#progress").append(obj);
            }

            if (progress == 100) {
                obj = '<a href="/ConvertedFiles/' + file + '" download="">download</a>';
                $("#progress").append(obj);
                RemoveConvObj();
            }
        });

        var conId = "";

        hubConnection.start().then(() => {
            conId = hubConnection.connectionId;
        });

        function ConvertFile(obj) {
            fileName = obj.value;

            alert(fileName);
            $.ajax({
                url: "/Home/ConvertFile",
                data: { fileName: fileName, connectionId: conId }
            });
        }
    </script>

    <script type="text/javascript">
        var fileName = "";

        function RemoveConvObj() {
            $.ajax({
                url: "/Home/RemoveConversion",
                data: { fileName: fileName },
            });
        }

        function Stop() {
            $.ajax({
                url: "/Home/CancelConversion",
                data: { fileName: fileName },
                success: function (result) {
                    alert(result);
                }

            });
        }
    </script>
</body>